.friendCard{
    border: 1px solid grey;
}
.friendCont {
    margin: 20px auto;
}

.updateButton {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px;
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-size: .7rem;
    padding: 2px 8px;
  }
  .linkCont {
      margin: 20px;
  }